// CARDS BASIC
.card {
    border: 0;
    .card-title a {
        color: #424242;
        @include transition (0.4s);
        &:hover {
            color: #616161;
            @include transition (0.4s);
        }
        &.activator {
            cursor: pointer;
        }
    }
    img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        @extend .img-fluid;
    }
    .btn-action {
        // margin: -23px 20px;
        margin-left: auto; // background-color: #4B515D;
        // height: 47px;
        // width: 47px;
        line-height: inherit;
        @extend .btn-floating; // @extend .halfway-fab;
        i {
            color: #fff;
            font-size: 18px!important; // margin-top: 5px;
        }
    }
    .card-block {
        position: relative;
    }
    .card-footer {
        padding-bottom: 0;
        font-size: 1.2rem;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
        .card-link {
            color: inherit;
        }
    } //  Card Reveal
    .card-reveal {
        padding: $card-padding;
        position: absolute;
        background-color: $card-bg-color;
        width: 100%;
        overflow-y: auto;
        left: 0;
        top: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        .card-title {
            cursor: pointer;
            display: block;
        }
    }
}

// Jumbtotron
.jumbotron {
    background-color: #fff;
    padding: 2rem;
    &.m-1,
    &.m-2,
    &.m-3 {
        z-index: 50;
        position: relative;
        margin-left: 3%;
        margin-right: 3%;
    }
    &.m-1 {
        margin-top: -20px;
    }
    &.m-2 {
        margin-top: -30px;
    }
    &.m-3 {
        margin-top: -40px;
    }
}

// .list-group fix
.list-group-item {
    width: 100%;
}

// edge header
.edge-header {
    display: block;
    height: 278px;
    background-color: #ccc;
}

.free-bird {
    margin-top: -100px;
}

// Form sets
.card .form-header {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    @extend .z-depth-1-half;
    @include border-radius(2px);
    h3 {
        margin: 0;
        padding: 0.7rem;
    }
}

.call .fa {
    margin-right: 5px;
}